/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-blue-gray, 500);
$light-primary-text: mat-palette($mat-red, 400);
$dark: mat-palette($mat-teal, 400);
$accent: mat-palette($mat-red, 500);


$white-foreground: mat-palette($mat-gray, 600);

$theme: mat-light-theme($primary, $accent, $light-primary-text);
$my-app-theme-custom: map-merge($theme,
  (foreground: $white-foreground),
);


* {
  margin: 0;
  padding: 0;
}

@include angular-material-theme($my-app-theme-custom);

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  //scrollbar-width: auto;
  //scrollbar-color: #990000 #ffffff;
}

/* Chrome, Edge, and Safari */
.pdf-content::-webkit-scrollbar {
  width: 10px !important;
}

.pdf-content::-webkit-scrollbar-track {
  background: #ffffff !important;
}

.pdf-content::-webkit-scrollbar-thumb {
  background-color: #990000 !important;
  border-radius: 10px !important;
  //border: 3px solid #000000;
}
